* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 10px;
    width: 400px;
    min-height: 250px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow:  0px 10px 20px rgb(90, 89, 89);
    gap: 40px;
}

.top-bar{
  display: flex;
  flex-direction: column;
  align-items: center;
}


.login-panel{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
